<table>
  <% @tasks.each do |task| %>
    <tr>
      <td><%= task.id %></td>
      <td><%= task.name %></td>
      <td><%= task.task_type %></td>
      <td><%= task.description %></td>
    </tr>
  <% end %>
</table>